.component {
  font-size: var(--breadcrumbs-font-size, 0.75rem);
}

.description {
  display: inline;
  margin-right: var(--breadcrumbs-margin, 0.5rem);
}

.list {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.item {
  display: inline;
}

.separator {
  margin: 0 var(--breadcrumbs-separator-margin, 0.5rem);
  color: var(--breadcrumbs-separator-color, #999);
  position: relative;
  display: inline-block;
}

.link {
  color: var(--breadcrumbs-color, "#000");
  text-decoration: var(--breadcrumbs-text-decoration, none);
  font-weight: var(--breadcrumbs-font-weight, inherit);
  font-size: var(--breadcrumbs-font-size, 0.875rem);
}

.link[aria-current] {
  text-decoration: var(--breadcrumbs-text-decoration-active, none);
  color: var(--breadcrumbs-color-active, "#000");
  font-weight: var(--breadcrumbs-font-weight-active, 600);
}

.link:hover {
  text-decoration: var(--breadcrumbs-text-decoration-link, underline);
  color: var(--breadcrumbs-color-hover, "#999");
}

.sronly:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
