.component {
  background: var(--card-background);
  color: var(--card-color);
  font-size: var(--card-font-size);
  padding: var(--card-padding);
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
  border-width: var(--card-border-width);
  border-style: var(--card-border-style);
  border-color: var(--card-border-color);
}

.component:hover,
.component:focus-within {
  color: var(--card-hover-color);
  text-decoration: var(--card-hover-text-decoration);
  background: var(--card-hover-background);
}

.component:focus-within {
  outline: var(--card-focus-outline);
  box-shadow: var(--card-focus-box-shadow);
}

.inner {
  border-radius: calc(
    var(--card-border-radius, 0) - var(--card-border-width, 0) -
      var(--card-padding, 0)
  );
  overflow: hidden;
  display: grid;
  align-items: stretch;
  align-self: stretch;
  position: relative;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--card-column-min-width)), 1fr)
  );
  grid-auto-rows: var(--card-grid-auto-rows);
  height: 100%;
}

.media {
  order: -1;
  width: 100%;
  height: 100%;
}

.dummy {
  grid-column: 1;
}

.content {
  display: grid;
  padding: var(--card-content-padding);
  gap: var(--card-content-gap);
  align-content: var(--card-content-align-content);
}

.meta {
  font-size: var(--card-meta-font-size);
  color: var(--card-meta-color);
  font-weight: var(--card-meta-font-weight);
  line-height: var(--card-meta-line-height);
  letter-spacing: var(--card-meta-letter-spacing);
}

.title,
.titleLink {
  font-size: var(--card-title-font-size);
  font-weight: var(--card-title-font-weight);
  line-height: var(--card-title-line-height);
  letter-spacing: var(--card-title-letter-spacing);
  margin: 0;
}
