.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-gap: var(--dashboard-menu-list-gap);
}

.icon {
  --round-icon-background-color: var(--dashboard-menu-icon-background-color);
  --icon-color: var(--dashboard-menu-icon-color);
  --round-icon-size: var(--dashboard-menu-icon-size);
}

.symbol {
  --icon-color: var(--dashboard-menu-arrow-color);
  --icon-size: var(--dashboard-menu-arrow-size);
}

.content {
  display: flex;
  gap: var(--dashboard-menu-content-gap);
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: var(--dashboard-menu-title-font-size);
  color: var(--dashboard-menu-title-color);
  font-weight: var(--dashboard-menu-title-font-weight);
  line-height: var(--dashboard-menu-title-line-height);
  letter-spacing: var(--dashboard-menu-title-letter-spacing);
}

.description {
  margin: 0;
  font-size: var(--dashboard-menu-description-font-size);
  color: var(--dashboard-menu-description-color);
  font-weight: var(--dashboard-menu-description-font-weight);
  line-height: var(--dashboard-menu-description-line-height);
  letter-spacing: var(--dashboard-menu-description-letter-spacing);
}

/* Modifiers */
.link.primary {
  --dashboard-menu-link-background: var(--dashboard-primary-menu-link-background);
  --dashboard-menu-link-border: var(--dashboard-primary-menu-link-border);
  --dashboard-menu-link-box-shadow: var(--dashboard-primary-menu-link-box-shadow);
  --dashboard-menu-link-color: var(--dashboard-primary-menu-link-color);
  --dashboard-menu-arrow-color: var(--dashboard-primary-menu-arrow-color);
  --dashboard-menu-icon-background-color: var(--dashboard-primary-menu-icon-background-color);
  --dashboard-menu-icon-color: var(--dashboard-primary-menu-icon-color);

  --dashboard-menu-link-hover-background: var(--dashboard-primary-menu-link-hover-background);
  --dashboard-menu-link-hover-border: var(--dashboard-primary-menu-link-hover-border);

  --dashboard-menu-link-hover-color: var(--dashboard-primary-menu-link-hover-color);
  --dashboard-menu-icon-hover-background-color: var(--dashboard-primary-menu-icon-hover-background-color);
  --dashboard-menu-icon-hover-color: var(--dashboard-primary-menu-icon-hover-color);
  --dashboard-menu-arrow-hover-color: var(--dashboard-primary-menu-arrow-hover-color);
}

.link.secondary {
  --dashboard-menu-link-background: var(--dashboard-secondary-menu-link-background);
  --dashboard-menu-link-border: var(--dashboard-secondary-menu-link-border);
  --dashboard-menu-link-box-shadow: var(--dashboard-secondary-menu-link-box-shadow);
  --dashboard-menu-link-color: var(--dashboard-secondary-menu-link-color);
  --dashboard-menu-arrow-color: var(--dashboard-secondary-menu-arrow-color);
  --dashboard-menu-icon-background-color: var(--dashboard-secondary-menu-icon-background-color);
  --dashboard-menu-icon-color: var(--dashboard-secondary-menu-icon-color);

  --dashboard-menu-link-hover-background: var(--dashboard-secondary-menu-link-hover-background);
  --dashboard-menu-link-hover-border: var(--dashboard-secondary-menu-link-hover-border);
  --dashboard-menu-link-hover-color: var(--dashboard-secondary-menu-link-hover-color);
  --dashboard-menu-icon-hover-background-color: var(--dashboard-secondary-menu-icon-hover-background-color);
  --dashboard-menu-icon-hover-color: var(--dashboard-secondary-menu-icon-hover-color);
  --dashboard-menu-arrow-hover-color: var(--dashboard-secondary-menu-arrow-hover-color);
}

.link.compact {
  --dashboard-menu-list-gap: var(--dashboard-compact-menu-list-gap);
  --dashboard-menu-link-gap: var(--dashboard-compact-menu-link-gap);
  --dashboard-menu-link-padding: var(--dashboard-compact-menu-link-padding);
  --dashboard-menu-icon-size: var(--dashboard-compact-menu-icon-size);
}
