.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-gap: var(--dashboard-menu-list-gap);
}

.icon {
  --round-icon-background-color: var(--dashboard-menu-icon-background-color);
  --icon-color: var(--dashboard-menu-icon-color);
  --round-icon-size: var(--dashboard-menu-icon-size);
}

.arrow {
  --icon-color: var(--dashboard-menu-arrow-color);
  --icon-size: var(--dashboard-menu-arrow-size);
}
