.component {
  max-width: var(--form-description-max-lenght);
  margin-top: var(--form-description-distance-top);
  margin-bottom: var(--form-description-distance-bottom);
  padding-top: var(--form-description-spacing-top);
  padding-bottom: var(--form-description-spacing-bottom);
  font-family: var(--form-description-font-family);
  font-weight: var(--form-description-font-weight);
  font-size: var(--form-description-font-size);
  letter-spacing: var(--form-description-letter-spacing);
  line-height: var(--form-description-line-height);
  color: var(--form-description-color);
}
