.component {
  border: var(--form-error-border);
  border-radius: var(--form-error-border-radius);
  background: var(--form-error-background);
  padding: var(--form-error-padding);
  margin: var(--form-error-margin);
}

.component:empty {
  display: none;
}

.message {
  font-family: var(--form-error-font-family);
  font-weight: var(--form-error-font-weight);
  font-size: var(--form-error-font-size);
  letter-padding: var(--form-error-letter-padding);
  line-height: var(--form-error-line-height);
  color: var(--form-error-color);
}
