.component {
  background: var(--header-frontpage-menu-background-color);
  border-bottom: var(--header-frontpage-menu-border-bottom);
  padding: var(--header-frontpage-menu-padding);
}

.list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--header-frontpage-menu-column-min-width), 100%), 1fr)
  );
  gap: var(--header-frontpage-menu-gap);
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon {
  --round-icon-size: var(--header-frontpage-menu-icon-size);
  --round-icon-inner-size: var(--header-frontpage-menu-icon-inner-size);
  --icon-color: var(--header-frontpage-menu-icon-color);
  --round-icon-background-color: var(
    --header-frontpage-menu-icon-background-color
  );
  --round-icon-border: var(--header-frontpage-menu-icon-border);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--header-frontpage-menu-text-gap);
}

.title {
  margin: 0;
  font-weight: var(--header-frontpage-menu-title-font-weight);
  font-size: var(--header-frontpage-menu-title-font-size);
  text-decoration: var(--header-frontpage-menu-title-text-decoration);
  color: var(--header-frontpage-menu-title-color);
  letter-spacing: var(--header-frontpage-menu-title-letter-spacing);
  line-height: var(--header-frontpage-menu-title-line-height);
}

.description {
  margin: 0;
  font-weight: var(--header-frontpage-menu-description-font-weight);
  font-size: var(--header-frontpage-menu-description-font-size);
  text-decoration: var(--header-frontpage-menu-description-text-decoration);
  color: var(--header-frontpage-menu-description-color);
  letter-spacing: var(--header-frontpage-menu-description-letter-spacing);
  line-height: var(--header-frontpage-menu-description-line-height);
}
