.component {
  display: inline-block;
  vertical-align: var(--icon-vertical-align, -15%);
  font-size: var(--icon-size, 1em);
  background-color: var(--icon-color, currentColor);
  width: 1em;
  height: 1em;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
