.component {
  color: var(--link-color, inherit);
  text-decoration: var(--link-text-decoration, underline);
  padding: 0;
  border: none;
  background: transparent;
}

.component:hover {
  color: var(--link-hover-color, inherit);
  text-decoration: var(--link-hover-text-decoration, none);
  background: var(--link-hover-background, transparent);
}

.component:focus,
:focus + .component.label {
  outline: var(--link-focus-outline, none);
  box-shadow: var(
    --link-focus-box-shadow,
    var(--focus-box-shadow, 0 0 0 3px black)
  );
}

.component.current,
.component[aria-checked="true"],
.component[aria-pressed="true"],
.component[aria-current],
:checked + .component.label {
  color: var(--link-current-color, inherit);
  text-decoration: var(--link-current-text-decoration, underline);
  background: var(--link-current-background, transparent);
  font-weight: var(--link-current-font-weight, normal);
}

.component:not(.inert):not([aria-disabled="true"]) {
  cursor: pointer;
}

.component.inert,
.component:disabled,
.component[aria-disabled="true"],
:disabled + .component.label {
  color: var(--link-inert-color, inherit);
  text-decoration: var(--link-text-inert-decoration, inherit);
  background: var(--link-inert-background, transparent);
}

button.component {
  font: inherit;
  -webkit-appearance: none;
}

.icon {
  margin: var(--link-icon-margin, 0 0 0 0.35em);
  --icon-size: var(--link-icon-size, 1em);
}
