:root {
  --link-color: dodgerblue;
  --link-text-decoration: underline;

  --link-hover-color: var(--link-color);
  --link-hover-text-decoration: var(--link-text-decoration);
  --link-hover-background: var(--link-background);

  --link-current-color: inherit;
  --link-current-font-weight: bold;
  --link-current-text-decoration: var(--link-text-decoration);
  --link-current-background: var(--link-background);

  --link-inert-color: inherit;
  --link-inert-text-decoration: inherit;
  --link-inert-background: var(--link-background);
}

.component {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  padding: 0;
  border: none;
  background: transparent;
}

.component:hover {
  color: var(--link-hover-color);
  text-decoration: var(--link-hover-text-decoration);
  background: var(--link-hover-background);
}

.component:focus,
:focus + .component.label {
  outline: -webkit-focus-ring-color auto 1px;
}

.component.current,
.component[aria-checked="true"],
.component[aria-pressed="true"],
.component[aria-current],
:checked + .component.label {
  color: var(--link-current-color);
  text-decoration: var(--link-current-text-decoration);
  background: var(--link-current-background);
  font-weight: var(--link-current-font-weight);
}

.component:not(.inert):not([aria-disabled="true"]) {
  cursor: pointer;
}

.component.inert,
.component:disabled,
.component[aria-disabled="true"],
:disabled + .component.label {
  color: var(--link-inert-color);
  text-decoration: var(--link-text-inert-decoration);
  background: var(--link-inert-background);
}

button.component {
  font: inherit;
  -webkit-appearance: none;
}
