.component {
  position: absolute;
  top: var(--skip-to-offset-top);
  left: var(--skip-to-offset-left);
  margin: var(--skip-to-distance);
  padding: var(--skip-to-spacing);
  border: var(--skip-to-border);
  border-radius: var(--skip-to-radii);
  box-shadow: var(--skip-to-shadow);
  font-family: var(--skip-to-font-family);
  font-weight: var(--skip-to-font-weight);
  font-size: var(--skip-to-font-size);
  font-size: var(--skip-to-font-size);
  text-decoration: var(--skip-to-text-decoration);
  line-height: var(--skip-to-line-height);
  background: var(--skip-to-background);
  color: var(--skip-to-color);
  outline: var(--skip-to-outline);
  transition: var(--skip-to-transition);
  z-index: var(--skip-to-level);
}

.component:focus {
  left: 0;
  top: 0;
}
