.component {
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sublist {
  grid-area: sublist;
}

.item {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "row row" ". sublist";
  gap: 0.125rem;
}

.row {
  grid-area: row;
  display: grid;
  grid-template-columns: inherit;
  grid-template-areas: "toggle link";
  gap: 0.125rem;
}

.row:focus-within {
  box-shadow: var(--tree-menu-row-focus-box-shadow: 0 0 0 3px blue);
}

.toggle {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.75em;
}

.toggle.collapsed:after {
  content: "►";
}

.toggle.expanded:after {
  content: "▼";
}

.link {
  grid-area: link;
  --link-focus-box-shadow: none;
  padding: var(--tree-menu-link-padding, 0.25rem 0);
}
