:root {
  --grid-menu-background-color: #efefef;
  --grid-menu-border-bottom: 1px solid #ccc;
  --grid-menu-padding: 0;
  --grid-menu-column-min-width: 24rem;
  --grid-menu-gap: 1.5rem;

  --grid-menu-link-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ecf5f7 100%
  );
  --grid-menu-link-border: 1px solid #fff;
  --grid-menu-link-border-radius: 10px;
  --grid-menu-link-box-shadow: 0 3px 3px 0 rgba(75, 83, 118, 0.02),
    0 8px 7px 0 rgba(75, 83, 118, 0.03), 0 17px 14px 0 rgba(75, 83, 118, 0.04),
    0 36px 29px 0 rgba(75, 83, 118, 0.05),
    0 100px 80px 0 rgba(75, 83, 118, 0.07);
  --grid-menu-link-padding: 1rem;
  --grid-menu-link-gap: 0.75rem;
  --grid-menu-link-transition: all 30ms ease-in-out;
  --grid-menu-link-transition-property: all;
  --grid-menu-link-text-decoration: none;

  --grid-menu-link-hover-color: blue;
  --grid-menu-link-hover-text-decoration: none;
  --grid-menu-link-hover-background: pink;

  --grid-menu-icon-size: 2.5rem;
  --grid-menu-icon-inner-size: 60%;
  --grid-menu-icon-color: blue;
  --grid-menu-icon-background-color: gray;
  --grid-menu-icon-border: purple;

  --grid-menu-title-font-size: 1.25rem;
  --grid-menu-title-font-weight: 500;
  --grid-menu-title-text-decoration: none;
  --grid-menu-title-color: #0c3a46;
  --grid-menu-title-letter-spacing: -0.01px;
  --grid-menu-title-line-height: 100%;

  --grid-menu-text-gap: 0.125rem;

  --grid-menu-description-font-size: 1rem;
  --grid-menu-description-font-weight: 500;
  --grid-menu-description-text-decoration: none;
  --grid-menu-description-color: #2b4b53;
  --grid-menu-description-letter-spacing: -0.01px;
  --grid-menu-description-line-height: 100%;
}
