:root {
  --header-frontpage-menu-background-color: #efefef;
  --header-frontpage-menu-border-bottom: 1px solid ccc;
  --header-frontpage-menu-padding: 2rem;
  --header-frontpage-menu-width: 24rem;
  --header-frontpage-menu-gap: 1.5rem;

  --header-frontpage-menu-link-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ecf5f7 100%
  );
  --header-frontpage-menu-link-border: 1px solid #fff;
  --header-frontpage-menu-link-border-radius: 10px;
  --header-frontpage-menu-link-box-shadow: 0 3px 3px 0 rgba(75, 83, 118, 0.02),
    0 8px 7px 0 rgba(75, 83, 118, 0.03), 0 17px 14px 0 rgba(75, 83, 118, 0.04),
    0 36px 29px 0 rgba(75, 83, 118, 0.05),
    0 100px 80px 0 rgba(75, 83, 118, 0.07);
  --header-frontpage-menu-link-padding: 1rem;
  --header-frontpage-menu-link-gap: 0.75rem;
  --header-frontpage-menu-link-transition: all 30ms ease-in-out;
  --header-frontpage-menu-link-transition-property: all;

  --header-frontpage-menu-link-hover-color: blue;
  --header-frontpage-menu-link-hover-text-decoration: none;
  --header-frontpage-menu-link-hover-background: pink;

  --header-frontpage-menu-icon-size: 1.5rem;
  --header-frontpage-menu-icon-width: 2.5rem;
  --header-frontpage-menu-icon-height: 2.5rem;
  --header-frontpage-menu-icon-color: blue;
  --header-frontpage-menu-icon-background-color: gray;
  --header-frontpage-menu-icon-border: purple;

  --header-frontpage-menu-title-font-size: 1.25rem;
  --header-frontpage-menu-title-font-weight: 500;
  --header-frontpage-menu-title-text-decoration: none;
  --header-frontpage-menu-title-color: #0c3a46;
  --header-frontpage-menu-title-letter-spacing: -0.01px;
  --header-frontpage-menu-title-line-height: 100%;

  --header-frontpage-menu-text-gap: 0.125rem;

  --header-frontpage-menu-description-font-size: 1rem;
  --header-frontpage-menu-description-font-weight: 500;
  --header-frontpage-menu-description-text-decoration: none;
  --header-frontpage-menu-description-color: #2b4b53;
  --header-frontpage-menu-description-letter-spacing: -0.01px;
  --header-frontpage-menu-description-line-height: 100%;
}
